

/*GALLERY SECTION BELOW */

#gallery {
    clear:both;
    padding-left:100px;
    padding-right:10px;
    overflow:auto;
}
.gallery{
    text-align: center;
    color: blue;
    font: 400px;
}
figure {
    margin:5px;
    float:left;
    position:relative;
}

